[submodule "lsp-p1"]
	path = lsp-p1
	url = git@github.com:jaeunda/lsp-p1.git
[submodule "lsp-p2"]
	path = lsp-p2
	url = git@github.com:jaeunda/lsp-p2.git
[submodule "lsp-p3"]
	path = lsp-p3
	url = git@github.com:jaeunda/lsp-p3.git
